#INTERNAL_START
on fs
    setprop vendor.usb.feature 1

on post-fs


    chmod 0660 /dev/spm
    chown system system /dev/spm

    # LGP Service
    symlink /dev/block/platform/bootdevice/by-name/misc2 /dev/misc2
    chmod 0660 /dev/misc2
    chown root system /dev/misc2
on boot

#META+ADB, move this to kernel driver
on property:sys.usb.ffs.ready=1 && property:ro.boot.usbconfig=0 && property:sys.usb.configfs=1 && \
    property:vendor.usb.feature=1
    write /proc/bootprof "INIT:on property:ro.boot.usbconfig 0"
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/strings/0x409/serialnumber $ro.serialno
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "adb_acm"
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x6375
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    write /sys/devices/platform/mt_usb/saving 1
    symlink /config/usb_gadget/g1/functions/acm.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/gser.gs0 /config/usb_gadget/g1/configs/b.1/f4
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/UDC "musb-hdrc"

#META, move this to kernel driver
on property:ro.boot.usbconfig=1 && property:sys.usb.configfs=1 && property:vendor.usb.feature=1
    write /proc/bootprof "INIT:on property:ro.boot.usbconfig 1"
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/strings/0x409/serialnumber $ro.serialno
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "acm_gser"
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x6000
    write /config/usb_gadget/g1/bDeviceClass 02
    symlink /config/usb_gadget/g1/functions/acm.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/gser.gs0 /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/UDC "musb-hdrc"

#META+ELT, move this to kernel driver
on property:ro.boot.usbconfig=2 && property:sys.usb.configfs=1 && property:vendor.usb.feature=1
    write /proc/bootprof "INIT:start adbd"
    start adbd

#META+ELT, move this to kernel driver
on property:sys.usb.ffs.ready=1 && property:ro.boot.usbconfig=2 && property:sys.usb.configfs=1 && \
    property:vendor.usb.feature=1
    write /proc/bootprof "INIT:on property:ro.boot.usbconfig 2"
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/strings/0x409/serialnumber $ro.serialno
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "meta_elt"
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x6375
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    write /sys/devices/platform/mt_usb/saving 1
    symlink /config/usb_gadget/g1/functions/acm.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/gser.gs0 /config/usb_gadget/g1/configs/b.1/f4
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/UDC "musb-hdrc"
    setprop vendor.usb.acm_idx 1,4

#META+ELT+ADB, move this to kernel driver
on property:sys.usb.ffs.ready=1 && property:ro.boot.usbconfig=3 && property:sys.usb.configfs=1 && \
    property:vendor.usb.feature=1
    write /proc/bootprof "INIT:on property:ro.boot.usbconfig 3"
    write /config/usb_gadget/g1/UDC "none"
    write /config/usb_gadget/g1/strings/0x409/serialnumber $ro.serialno
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "meta_elt_adb"
    write /config/usb_gadget/g1/idVendor 0x1004
    write /config/usb_gadget/g1/idProduct 0x6375
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    write /sys/devices/platform/mt_usb/saving 1
    symlink /config/usb_gadget/g1/functions/acm.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/acm.gs3 /config/usb_gadget/g1/configs/b.1/f2
    symlink /config/usb_gadget/g1/functions/gser.gs0 /config/usb_gadget/g1/configs/b.1/f4
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f5
    write /config/usb_gadget/g1/UDC "musb-hdrc"
    setprop vendor.usb.acm_idx 1,4

service log-kernel /system/bin/sh /system/bin/logger_kernel.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

service log-power /system/bin/logger_power.sh
    class main
    disabled
    oneshot

service logcat-main /system/bin/sh /system/bin/logger_main.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

service logcat-system /system/bin/sh /system/bin/logger_system.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

service logcat-radio /system/bin/sh /system/bin/logger_radio.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

service logcat-events /system/bin/sh /system/bin/logger_events.sh
    class main
    disabled
    oneshot
    seclabel u:r:log_services:s0

on boot
    start log-kernel
    start log-power
    start logcat-main
    start logcat-system
    start logcat-radio
    start logcat-events

service spm_script /vendor/bin/spm_loader
    user system
    group system
    oneshot
#INTERNAL_END
